<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings>
      <!-- <add key="TerminalServerAliases" value="WIN-SGPBICA0161=RAWeb; WIN-UWNSFPV3253=Workstation;" /> -->
      <!-- <add key="App.CombineTerminalServersModeEnabled" value="true" /> -->
      <!-- <add key="App.FavoritesEnabled" value="true" /> -->
      <!-- <add key="App.FlatModeEnabled" value="false" /> -->
      <!-- <add key="App.IconBackgroundsEnabled" value="true" /> -->
      <!-- <add key="App.SimpleModeEnabled" value="false" /> -->
      <add key="RegistryApps.Enabled" value="true" />
      <add key="RegistryApps.FullAddressOverride" value="6ede1c17-5698-4c3b-8ed8-3b36b671ac3d.diaboleite.net:13389" />
      <add key="RegistryApps.AdditionalProperties" value="drivestoredirect:s:*;redirectclipboard:i:1" />
   </appSettings>
   <system.web>
      <compilation defaultLanguage="C#" targetFramework="4.0" debug="true">
      </compilation>
      <customErrors mode="Off" />
      <globalization culture="auto" uiCulture="auto" />
   </system.web>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".rdp" mimeType="application/x-rdp" />
         <mimeMap fileExtension=".vue" mimeType="application/javascript" />
         <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
         <mimeMap fileExtension=".webp" mimeType="image/webp" />
      </staticContent>
      <caching>
         <profiles>
            <add extension=".aspx" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".mjs" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".rdp" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".ts" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
            <add extension=".vue" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:01" />
         </profiles>
      </caching>
      <httpProtocol>
            <customHeaders>
               <!-- Allow RAWeb to dynamically control CORS -->
               <remove name="Access-Control-Allow-Origin" />

               <!-- temporary until we can rebase this on a branhc with get-rdp.aspx -->
               <add name="Access-Control-Allow-Origin" value="https://6ede1c17-5698-4c3b-8ed8-3b36b671ac3d.diaboleite.net:3443" />
            </customHeaders>
        </httpProtocol>
   </system.webServer>
</configuration>
